#container1{
    text-align: center;
    background-color:black;
    color: white;
    width: 300px;
    margin: 20px auto
}
#container2{
    text-align: center;
    background-color:black;
    color: white;
    width: 300px;
    margin: 20px auto
}