* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;          /* full screen height */
  display: flex;
  flex-direction: column;
}

header {
  padding: 40px;
  text-align: center;
}
header h1{
    margin-bottom: 15px;
}

header p{
    font-size: 20px;
    color: blue;
}

main {
  text-align: center;
}

#container1{
    text-align: center;
    background-color:black;
    color: white;
    width: 300px;
    margin: 20px auto
}

#container2{
    text-align: center;
    background-color:lightskyblue;
    color: white;
    width: 300px;
    margin: 20px auto
}

footer {
  margin-top: auto;           /* MAGIC LINE ✨ */
  margin-left: 10px;
  margin-right: 10px;
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
}